In [1]:
import chardet
import pandas as pd
import os

# fichier = '/Users/oussamanaji/Downloads/csvs/Calls_DIAGO_2025-01-11_2025-01-11_1736658123.csv'
# # with open(, 'rb') as f:
# #     result = chardet.detect(f.read())
# #     print(result['encoding'])



# df = pd.read_csv(fichier, encoding='latin1', delimiter=';')
# df.head()

In [3]:


# Chemin vers le dossier contenant les fichiers CSV
dossier_csv = '/Users/oussamanaji/Downloads/csvs'

# Liste pour stocker chaque DataFrame
dataframes = []

# Parcours de tous les fichiers dans le dossier
for fichier in os.listdir(dossier_csv):
    chemin_complet = os.path.join(dossier_csv, fichier)
    df = pd.read_csv(chemin_complet,encoding='latin1', delimiter=';')
    dataframes.append(df)

# Combiner tous les DataFrames en un seul
df_final = pd.concat(dataframes, ignore_index=True)

# Afficher les premières lignes du DataFrame final
df_final.head()

,Date/Heure,Numéro,CLI envoyé,Prix,Coût de l'appel,tarif AMD,Surcharge CRM,Durée Facturée,Durée sonnerie,Trunk,...,Raccroché,Custom1,Codec,Campagne,CLI reçu,Surcharge,Recording fee,Date d'effacement de l'enregistrement,SIREN,Coût HLM
0,2025-01-01 12:44:50,33651897703,33424500649,"0,021","0,0007",0,0,2,21,Twilio - Twilio_28,...,CALLED,NaN,alaw,Appels diago,33424500649,N,0,NaN,832277370,0
1,2025-01-01 12:25:20,33632323619,33424500649,"0,021","0,00105",0,0,3,22,Twilio - Twilio_28,...,CALLED,NaN,alaw,Appels diago,33424500649,N,0,NaN,832277370,0
2,2025-01-01 12:20:16,33629612710,33424500649,"0,021","0,0007",0,0,2,21,Twilio - Twilio_28,...,CALLED,NaN,alaw,Appels diago,33424500649,N,0,NaN,832277370,0
3,2025-01-01 11:58:28,33235937936,33270490602,"0,0051","0,00085",0,0,10,14,Twilio - Twilio_28,...,CALLED,NaN,alaw,Appels diago,33270490602,N,0,NaN,832277370,0
4,2025-01-01 11:47:46,33695966064,33162563937,"0,021","0,0007",0,0,2,18,Twilio - Twilio_28,...,CALLED,NaN,alaw,Appels diago,33162563937,N,0,NaN,832277370,0

In [4]:
df_final['CLI envoyé'] = df_final['CLI envoyé'].astype(str)
df_final['CLI envoyé'].head()

0    33424500649
1    33424500649
2    33424500649
3    33270490602
4    33162563937
Name: CLI envoyé, dtype: object

In [5]:
numero_vw = ['33162563937', '33270490602', '33377480618', '33424500649', '33568500594']
df_final_vw = df_final[df_final['CLI envoyé'].isin(numero_vw)]

In [6]:
df_final_vw.head()

,Date/Heure,Numéro,CLI envoyé,Prix,Coût de l'appel,tarif AMD,Surcharge CRM,Durée Facturée,Durée sonnerie,Trunk,...,Raccroché,Custom1,Codec,Campagne,CLI reçu,Surcharge,Recording fee,Date d'effacement de l'enregistrement,SIREN,Coût HLM
0,2025-01-01 12:44:50,33651897703,33424500649,"0,021","0,0007",0,0,2,21,Twilio - Twilio_28,...,CALLED,NaN,alaw,Appels diago,33424500649,N,0,NaN,832277370,0
1,2025-01-01 12:25:20,33632323619,33424500649,"0,021","0,00105",0,0,3,22,Twilio - Twilio_28,...,CALLED,NaN,alaw,Appels diago,33424500649,N,0,NaN,832277370,0
2,2025-01-01 12:20:16,33629612710,33424500649,"0,021","0,0007",0,0,2,21,Twilio - Twilio_28,...,CALLED,NaN,alaw,Appels diago,33424500649,N,0,NaN,832277370,0
3,2025-01-01 11:58:28,33235937936,33270490602,"0,0051","0,00085",0,0,10,14,Twilio - Twilio_28,...,CALLED,NaN,alaw,Appels diago,33270490602,N,0,NaN,832277370,0
4,2025-01-01 11:47:46,33695966064,33162563937,"0,021","0,0007",0,0,2,18,Twilio - Twilio_28,...,CALLED,NaN,alaw,Appels diago,33162563937,N,0,NaN,832277370,0

In [7]:
df_final_vw['Date'] = pd.to_datetime(df_final_vw['Date/Heure']).dt.date
grouped = df_final_vw.groupby(['Date', 'Destination']).size().reset_index(name='Nombre d\'appels')
pivot_df = grouped.pivot(index='Date', columns='Destination', values='Nombre d\'appels').fillna(0)
grouped

/var/folders/x5/qmtm2vv54qzcmzx4h964n_nh0000gp/T/ipykernel_41205/1419897331.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final_vw['Date'] = pd.to_datetime(df_final_vw['Date/Heure']).dt.date

ValueError: Index contains duplicate entries, cannot reshape

In [32]:
# Enregistrer le résultat dans un fichier CSV
#pivot_df.to_csv('/Users/oussamanaji/Downloads/nombre_appels_par_operateur.csv', index=True)

# Afficher le DataFrame final
#print(pivot_df)

Destination  France  France Mobile  France Mobile Bouygues  \
Date
2024-11-29      0.0            0.0                    11.0
2024-11-30      0.0            0.0                    13.0
2024-12-01      0.0            0.0                     1.0
2024-12-02      0.0            0.0                    19.0
2024-12-03      0.0            2.0                    12.0
2024-12-04      0.0            2.0                     6.0
2024-12-05      0.0            1.0                    10.0
2024-12-06      0.0            0.0                    31.0
2024-12-07      2.0            0.0                    20.0
2024-12-08      1.0            0.0                     1.0
2024-12-09      2.0            0.0                    11.0
2024-12-10      0.0            0.0                     1.0
2024-12-11      0.0            0.0                     0.0
2024-12-12      0.0            0.0                     5.0
2024-12-13      0.0            0.0                     5.0
2024-12-14      0.0            0.0                     5.0
2024-12-15      0.0            0.0                     1.0
2024-12-16      0.0            0.0                     6.0
2024-12-17      0.0            0.0                    18.0
2024-12-18      0.0            0.0                    20.0
2024-12-19      0.0            0.0                    18.0
2024-12-20      0.0            0.0                    11.0
2024-12-21      0.0            1.0                    13.0
2024-12-22      0.0            0.0                     3.0
2024-12-23      0.0            2.0                    30.0
2024-12-24      2.0            2.0                    51.0
2024-12-25      2.0            0.0                    27.0
2024-12-26      1.0            0.0                    30.0
2024-12-27      0.0            0.0                    18.0
2024-12-28      0.0            0.0                    12.0
2024-12-29      0.0            0.0                     5.0
2024-12-30      4.0            0.0                    25.0
2024-12-31      2.0            0.0                     9.0
2025-01-01      1.0            0.0                     1.0
2025-01-03      0.0            0.0                     7.0
2025-01-04      0.0            0.0                     7.0
2025-01-05      0.0            0.0                     0.0
2025-01-06      0.0            1.0                    26.0
2025-01-07      0.0            0.0                    58.0
2025-01-08      1.0            0.0                    39.0
2025-01-09      4.0            0.0                    26.0
2025-01-10      0.0            1.0                    17.0
2025-01-11      0.0            0.0                     3.0
2025-01-13      2.0            1.0                    11.0

Destination  France Mobile Free Mobile  France Mobile Lycatel  \
Date
2024-11-29                        19.0                    8.0
2024-11-30                         7.0                    9.0
2024-12-01                         0.0                    1.0
2024-12-02                         6.0                   12.0
2024-12-03                         9.0                   18.0
2024-12-04                        19.0                   20.0
2024-12-05                        18.0                   11.0
2024-12-06                        30.0                   18.0
2024-12-07                        16.0                    5.0
2024-12-08                         0.0                    0.0
2024-12-09                        15.0                    2.0
2024-12-10                         7.0                    2.0
2024-12-11                         2.0                    2.0
2024-12-12                         8.0                    7.0
2024-12-13                        15.0                    2.0
2024-12-14                        13.0                    1.0
2024-12-15                         1.0                    0.0
2024-12-16                         9.0                    5.0
2024-12-17                         6.0                    8.0
2024-12-18                        14.0                   12.0
2024-12-19                        27.0                   13.0
2024-12-20                        27.0                   11.0
2024-12-21                        12.0                    9.0
2024-12-22                         0.0                    1.0
2024-12-23                        30.0                    8.0
2024-12-24                        25.0                   13.0
2024-12-25                        18.0                    8.0
2024-12-26                        20.0                    5.0
2024-12-27                        28.0                    4.0
2024-12-28                        19.0                    4.0
2024-12-29                         3.0                    1.0
2024-12-30                        23.0                    5.0
2024-12-31                        13.0                    0.0
2025-01-01                         4.0                    0.0
2025-01-03                        10.0                    2.0
2025-01-04                         2.0                    0.0
2025-01-05                         1.0                    0.0
2025-01-06                        18.0                   18.0
2025-01-07                        58.0                   46.0
2025-01-08                        46.0                   43.0
2025-01-09                        29.0                   39.0
2025-01-10                        22.0                   22.0
2025-01-11                         9.0                   10.0
2025-01-13                        25.0                   17.0

Destination  France Mobile NRJ  France Mobile Orange  France Mobile SFR
Date
2024-11-29                 2.0                  18.0               52.0
2024-11-30                 1.0                  27.0               52.0
2024-12-01                 0.0                   1.0                4.0
2024-12-02                 2.0                  16.0               36.0
2024-12-03                 2.0                   5.0               22.0
2024-12-04                 3.0                   9.0                9.0
2024-12-05                 2.0                  15.0                8.0
2024-12-06                 4.0                  18.0               35.0
2024-12-07                 2.0                  13.0               25.0
2024-12-08                 0.0                   1.0                1.0
2024-12-09                 1.0                   8.0               17.0
2024-12-10                 0.0                   4.0                2.0
2024-12-11                 0.0                   2.0                1.0
2024-12-12                 0.0                   8.0               10.0
2024-12-13                 0.0                  12.0               17.0
2024-12-14                 0.0                  12.0               21.0
2024-12-15                 0.0                   1.0                1.0
2024-12-16                 4.0                   9.0               28.0
2024-12-17                 4.0                  18.0               23.0
2024-12-18                 2.0                  15.0               21.0
2024-12-19                 2.0                  26.0               46.0
2024-12-20                 3.0                  14.0               39.0
2024-12-21                 1.0                   7.0               18.0
2024-12-22                 0.0                   0.0                5.0
2024-12-23                 3.0                  33.0               39.0
2024-12-24                 2.0                  53.0               92.0
2024-12-25                 1.0                  26.0               55.0
2024-12-26                 2.0                  27.0               36.0
2024-12-27                 1.0                  17.0               30.0
2024-12-28                 0.0                  10.0               25.0
2024-12-29                 1.0                   3.0               10.0
2024-12-30                 6.0                  28.0               72.0
2024-12-31                 5.0                  15.0               52.0
2025-01-01                 0.0                   4.0               11.0
2025-01-03                 0.0                  22.0                9.0
2025-01-04                 0.0                   9.0                5.0
2025-01-05                 0.0                   0.0                2.0
2025-01-06                 2.0                  33.0               37.0
2025-01-07                 2.0                  59.0               80.0
2025-01-08                 4.0                  45.0               80.0
2025-01-09                 6.0                  57.0               67.0
2025-01-10                 4.0                  40.0               54.0
2025-01-11                 1.0                  21.0               30.0
2025-01-13                 0.0                  16.0               46.0

In [34]:


df_brut = df_final_vw[['Date/Heure','Numéro', 'Destination']]

# Enregistrer le DataFrame dans un fichier CSV
df_brut.to_csv('/Users/oussamanaji/Downloads/appels_brut.csv', index=False)

# Afficher les premières lignes du DataFrame final
print(df_brut.head())

            Date/Heure       Numéro                Destination
0  2025-01-01 12:44:50  33651897703  France Mobile Free Mobile
1  2025-01-01 12:25:20  33632323619       France Mobile Orange
2  2025-01-01 12:20:16  33629612710          France Mobile SFR
3  2025-01-01 11:58:28  33235937936                     France
4  2025-01-01 11:47:46  33695966064  France Mobile Free Mobile

In [35]:
df_brut.shape

(4084, 3)